/* edit by: Jason L 0706012310062 */
/* ALL Photos */
img[alt="Logo"] {
  content: url("https://github.com/Temp99w/no/blob/main/logo.png?raw=true");
}

img[alt="Article 1"] {
  content: url("https://stickershop.line-scdn.net/stickershop/v1/sticker/633058635/android/sticker.png?v=1");
}

img[alt="Article 2"] {
  content: url("https://stickershop.line-scdn.net/stickershop/v1/sticker/633058634/android/sticker.png?v=1");
}

img[alt="Article 3"] {
  content: url("https://stickershop.line-scdn.net/stickershop/v1/sticker/633058623/android/sticker.png?v=1");
}

img[alt="Article 4"] {
  content: url("https://stickershop.line-scdn.net/stickershop/v1/sticker/633058626/android/sticker.png?v=1");
}

img[alt="First image"] {
  content: url("https://viberatecdn.blob.core.windows.net/entity/artist/ninomae-inanis-rgQl5");
  border-radius: 1%;
}

img[alt="Second image"] {
  content: url("https://pbs.twimg.com/media/E1_tT81VEAUYdId?format=jpg&name=large");
  border-radius: 1px;
}

img[alt="Third image"] {
  content: url("https://pbs.twimg.com/media/GKKPjw5a4AAnK9b?format=jpg&name=medium");
  border-radius: 1px;
}

img[alt="Four image"] {
  /*TODO: IMG Credit cus i had to crop the img: https://twitter.com/Sappysque/status/1774446387838718444/photo/1 */
  content: url("https://github.com/Temp99w/no/blob/main/NurturingCSS.jpeg?raw=true");
}
/* ///////////////////////////////////// */

/* Start Decorating */
body {
  background: linear-gradient(180deg, #2e3167 0%, #454a92 50%, #412b5c 70%);
  font-family: monospace;
  color: aliceblue;
}

page-wrapper {
  display: flex;
  background-color: blueviolet;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #6796cc;
  img {
    width: 60px;
    height: 30px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    display: inline-flex;
    font-size: 110%;
  }
}

ul {
  display: inline-flex;
  justify-content: space-around;
  align-self: self-end;
  flex-grow: 0;
}

li {
  display: inline;
  margin: 0%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 120%;
}

nav-logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
  }
  li {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

/* TODO: Header */

#header {
  display: flexbox;
  margin: 10%;
  margin-bottom: 0px;
  margin-top: 4%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100px;
  border: 1px solid aliceblue;
}

.header-texts {
  border: 1px solid aliceblue;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://github.com/Temp99w/no/blob/main/Header-Tetr.png?raw=true");
  background-attachment: absolute;
  background-position: right right;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position-y: 35%;
  background-position-x: 95%;
  background-size: cover;
  background-size: 450px;
  background-origin: border-box;

  background-clip: border-box;
  padding: 10px;

  h1 {
    color: rgb(216, 169, 83);
    font-size: 275%;
    margin: 2%;   
  }

  h3 {
    margin: 0px;
    text-align: center;
    font-size: 200%;
    backface-visibility: visible;
    background-color: #31356e;
    border-radius: 100px;
  }
}

h1 {
  display: inline;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 120%;
}

abbr {
  display: inline-flex;
  text-decoration: underline;
}

/* TODO:The Importance */
h2 {
  display: flexbox;
}

#content {
  display: flex;
  background-image: url("https://hololive.hololivepro.com/wp-content/uploads/2020/06/bg_Hoshimachi-Suisei_01.png");
  background-size: 60%;
  background-origin: border-box;

  background-position: right right;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-position-y: 10%;
  background-position-x: -60%;

  background-clip: 100%;
  background-attachment: scroll;
  min-height: 100%;
  backface-visibility: hidden;
  border: 1px solid aliceblue;
  border-radius: 10px;
}

.content-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10%;
  margin-top: 50px;
  margin-bottom: 0px;
}

.content-first {
  justify-content: left;
  align-items: left;
  margin-left: 19%;
  margin-right: 3%;
  margin-top: 1%;
  padding: 0% 1% 0% 1%;
  flex-wrap: unwrap;
  background-color: #353873;
  background-blend-mode: screen;
  backdrop-filter: opacity(0.5);
  border-radius: 10px;
  h2 {
    margin-bottom: 2px;
    font-size: 200%;
    color: rgb(216, 169, 83);
  }
}

.content-first::after {
  margin: 100px;
  margin-bottom: 20px;
}

.content-second {
  margin: 3%;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid aliceblue;
  flex-wrap: unwrap;
  background-color: #2e3167;
  padding: 10px;
  border-radius: 5px;

  h2 {
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 222%;
    color: rgb(216, 169, 83);
  }
  h4 {
    font-size: 140%;
  }
  p {
    font-size: 110%;
  }
}

h4 {
  margin: 0px;
}

aside {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;

  h2 {
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    text-align: right;
    flex-shrink: 1;
    color: rgb(216, 169, 83);
  }
  h2::after {
    content: "|";
    color: rgb(212, 186, 137);
  }
  h2::before {
    content: "|";
    color: rgb(212, 186, 137);
  }
}

nav {
  .nav-logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    img {
      justify-content: center;
      align-items: center;
      padding: 10%;
      margin-left: 10%;
    }
  }
  ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 20px;
    li {
      display: flex;
      margin: 1%;
    }
  }
}

.creativity-wrapper {
  img {
    width: 20%;
    height: 20%;
  }
}

/* TODO:Articles */

.articles {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  border: 1px solid aliceblue;
  border-radius: 10px;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 100px;
  }
}

.article {
  background-color: #5b7696;
  backdrop-filter: brightness(0.2);
  border-radius: 20px;
  display: flexbox;

  margin: 20px;
  border: 10px solid #45488e;
  border-radius: 30px;
  padding: 20px;
  background-clip: 30px;
  h3 {
    color: #e6e9ff;
    /* background-color: #58595a;
    border-radius: 10px; */
    font-size: 140%;
  }

  p {
    font-size: 110%;
    color: aliceblue;
  }
  img {
    /* display: flex; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #3b506a;
    border-radius: 10px;
  }
  a {
    /* display: inherit; */
    background-color: rgb(232, 176, 74);
    border: 2px solid rgb(232, 176, 74);
    border-radius: 3px;
    color: #ffffff;
  }
}

.row-second {
  .article-long {
    padding-left: 15%;
  }

  h3 {
    color: aliceblue;
    font-size: 150%;
  }
  p {
    font-size: 110%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    td {
      display: grid;
      grid-template-columns: 20%;
      width: fit-content;
    }
  }
}

/* TODO:Creativity */

.creativity {
  background-color: #412b5c;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/054/888/649/large/noah-who-ina-background-1.jpg?1665599247");
  background-blend-mode: overlay;
  border-radius: 100px;
  padding: 1px;
}

.creativity-wrapper {
  h2 {
    margin: 10px;
    font-size: xx-large;
    color: #e6c9ed;
  }
  p {
    margin: 10px;
    font-size: large;
  }
}

.mini-one {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(41, 34, 43);
  border-radius: 10px;
  margin: 10%;

  margin-bottom: 10px;
  background-color: #624484;

  img {
    margin: 20px;
    border-radius: 5px;
  }
}

.mini-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(41, 34, 43);
  border-radius: 10px;
  margin: 10%;
  background-color: #624484;

  margin-top: 0px;
  margin-bottom: 10px;

  img {
    margin: 20px;
    border-radius: 5px;
  }
}

.mini-three {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(41, 34, 43);
  border-radius: 10px;
  margin: 10%;

  background-color: #624484;

  margin-top: 0px;
  margin-bottom: 10px;

  img {
    margin: 20px;
    border-radius: 5px;
  }
}

.mini-four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10%;
  background-color: #624484;
  border-radius: 10px;
  margin-top: 0px;
  img {
    margin: 20px;
    border-radius: 5px;
  }
}

/* TODO:Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  flex-direction: row;
  /* border: 1px solid black; */
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #3f344c;
  border-radius: 10px;
  color: #c2b5d0;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100px;
  flex-shrink: 2;
  margin: 10px;
  h3 {
    font-size: 200%;
    margin-bottom: 2%;
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 150%;
  }
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid aliceblue;
  border-top: 0px;
  border-bottom: 0px;
  p {
    margin-bottom: 1%;
  }
  button {
    background-color: #3f344c;
    color: rgb(193, 198, 203);
    margin: 2%;
  }
}

.footer-credit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;

  h3 {
    font-size: 150%;
  }
}

ul {
  padding-left: 0px;
}

/* middle f view */
@media screen and (max-width: 1440px) {
  #content {
  }
}

/* FIXME:TAB view */
@media screen and (max-width: 1344px) {
  #content {
    background-position-y: -7%;
  }

  .header-texts {
  }
}

@media screen and (max-width: 1025px) {
  #content {
    background-image: none;
  }
  .header-texts {
    background-image: none;
  }

  .header-texts {
    margin-left: -9%;
    margin-right: -9%;
    h3{
      background-color: transparent;
    }
  }

  .content {
    margin: 2%;
    margin-top: 7%;
  }
  .content-aside {
    display: flex;
    flex-direction: column;

    .content-first {
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 0%;
      background-color: transparent;
    }

    .content-second {
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        text-align: center;
        margin: auto;
        border-right: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
      }
      ul {
        display: inline;
        text-align: center;
        margin: auto;
        border-left: 0px;
        margin-bottom: 10px;
        padding: 1%;
      }
      li {
        padding-top: 2%;
      }
    }
  }
  .articles {
    margin: 3%;
  }

  footer {
    margin-left: 3%;
    margin-right: 3%;
  }

  .creativity {
    border-radius: 50px;
  }
  .mini-one {
    margin-left: 4%;
    margin-right: 3%;
  }
  .mini-two {
    margin-left: 3%;
    margin-right: 4%;
  }
  .mini-three {
    margin-left: 4%;
    margin-right: 3%;
  }
  .mini-four {
    margin-left: 3%;
    margin-right: 4%;
    border-radius: 10px;
  }
}
form {
  margin-left: 2%;
  margin-right: 2%;
}

/* FIXME:MOBILE VIEWf */

@media screen and (max-width: 600px) {
  #content {
    background-image: none;
  }

  .header-texts {
    background-image: none;
    h3{
      background-color: transparent;
    }
  }

  body {
    background-color: rebeccapurple;
  }

  nav {
    .nav-logo-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        display: inline-flex;
      }
      img {
        padding: 10%;
        margin-left: 10%;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-shrink: 2;
      li {
        display: inline;
        margin: 2%;
        font-size: small;
      }
    }
  }

  header {
    margin: 0%;
  }

  .content-aside {
    display: flex;
    flex-direction: column;
    margin-left: -0.5%;
    margin-right: -0.5%;
    aside {
      justify-content: center;
      h2 {
        text-align: center;
        margin: auto;
        border-right: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 10px;

        padding-left: 0px;
      }
      ul {
        display: inline;
        margin: auto;
        border-left: 0px;
        margin-bottom: 10px;
        /* margin-left: 10px; */
        padding: 1%;
        padding-inline-start: 10px;
      }

      li {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
      /* samsung fold trollin */
      @media screen and (max-width: 300px) {
        li {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }

  .content {
    margin: 2%;
    margin-top: 7%;
  }
  .content-first {
    width: auto;
    margin-left: 0px;
    background-color: transparent;
  }

  .articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: -5%;

    .row-second {
      .article-long {
        padding-left: 0%;
        padding: 5%;
      }
      img {
        display: none;
        visibility: none;
      }
    }

    .article {
      display: flex;
      flex-direction: column;
      img {
        width: 40%;
        height: 20%;
      }
      a {
        margin: auto;
        display: block;
        width: fit-content;
        height: fit-content;
        text-align: center;
      }
    }
  }

  .creativity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    margin-top: 7%;
  }

  .creativity-wrapper {
    margin: 5%;
    .mini-one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1%;
    }
    .mini-two {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1%;
    }
    .mini-three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1%;
    }
    .mini-four {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1%;
    }
    img {
      width: 80%;
      height: 30%;
      margin-bottom: 0px;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    .footer-logo {
      order: 2;
      border-left: 1px solid aliceblue;
      border-right: 1px solid aliceblue;
      margin: 0%;
      padding: 2%;
    }
    .footer-form {
      display: inline;
      order: 1;
      padding: 2%;
      form {
        margin: 10px;
        margin-left: 2%;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 1%;
      }
    }
    .footer-credit {
      order: 3;
      border-left: 1px solid aliceblue;
      border-right: 1px solid aliceblue;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0%;
      h3 {
        margin-left: 2%;
        margin-bottom: 2%;
      }
    }
  }
}
